body {
    font-family: Arial, sans-serif;
    background: url('—Pngtree—creative blackboard mathematical background_102289.jpg') no-repeat center center fixed;
    background-size: cover;
    margin: 0;
    padding: 0;
}
